body{
  font-family: 'Oxygen', sans-serif;
  display: flex;
  flex-direction: column;
}
#navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 305px;
  background-color: indigo;
  overflow-y: auto;
}
.link{
  text-decoration: none;
  color: 	#c5b1e7;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 80px 10px 80px;
}
.active{
  color: white;
}
.link:hover{
  color: #d6d6d6;
}
.navimg{
  display: block;
  border-radius: 50%;
  width: 60%;
  margin-bottom: 10%;
  border: 3px solid #d6d6d6;
}
#nav_side_fixed{
  display: none;
}

#main{
  /*border: 1px solid red;*/
  /*position: fixed;
  top: 0;
  bottom: 0;
  left: 305px;
  right: 10px;*/
  margin-left: 305px;
  padding-left: 5%;
  padding-right: 2%;
  overflow: auto;
}
#welcome-section{
 /* border-top: 2px solid lightgrey; */
 /* border-bottom: 2px solid lightgrey;*/
 /* border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}
h1{
  font-size: 10vmin;
  /*font-size: 65px;*/
  margin-bottom: 0;
}
color{
  color: indigo;
}
.contact{
  font-size: 3vmin;
  /*font-size: 25px;*/
  color: gray;
}
.contact-title{
  margin-left: -30px;
  margin-bottom: 10px;
  font-size: 5vmin;
  /*font-size: 30px;*/
  color: #404040;
  font-weight: bold;
}
.about{
  margin-left: 60px;
  margin-top: 40px;
  font-size: 3vmin;
  /*font-size: 20px;*/
  color: gray;
}
.nowrap{
  white-space: nowrap;
}

.circle{
  width: 8vmin;
  height: 8vmin;
  line-height: 8vmin;
  font-size: 4vmin;
  border-radius: 50%;
  color: indigo;
  text-align: center;
  background: #d6d6d6;
  text-decoration: none;
}
.circle:hover{
  background: indigo;
  color: white;
}
.circle-svg{
  height: 6vmin;
  max-height: 40px;
  vertical-align: middle;
  margin-bottom: 1vmin;
}

.social-icons{
  margin-top: 15vmin;
  width: 50vmin;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.project-container{
  border-top: 1px solid lightgrey;
  margin-top: 80px;
}
.projects-title{
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 7vmin;
  font-weight: bold;
  color: #404040;
}
.project-tile{
  margin-top: 12vmin;
}
.project-title{
  font-size: 5.5vmin;
}
.project-title-link{
  color: #404040;
  font-weight: bold;
  text-decoration: none;
}
.project-title-link:hover{
  color: indigo;
  font-weight: bold;
}
.project-skills{
  font-size: 5vmin;
  color: gray;
  padding-right: 5vmin;
}
.icon-small{
  padding-top: 10px;
  height:5vmin;
}
.icon-normal{
  height: 8vmin;
}
.description{
  margin-top: 5vmin;
  font-size: 4vmin;
  color: gray;
}
.quote{
  margin-left: 20px;
  margin-right: 40px;
  font-style: italic;
  font-size: 2.8vmin;
}

.sub-title{
  font-size: 5.5vmin;
  color: #404040;
  font-weight: bold;
  margin-top: 7vmin;
}
.skill-set{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.skills-list{
  font-size: 8vmin;
  color: gray;
  padding-top: 3vmin;
  padding-right: 3vmin;
}
.skills-workflow{
  margin-top: 5vmin;
  font-size: 5vmin;
  color: gray;
}

.awards-list{
  list-style-type: none;
  padding-left: 20px;
}
.awards-skills{
  font-size: 4vmin;
  color: gray;
  padding-top: 20px;
  padding-right: 3vmin;
}
.awards-skills-link{
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
.awards-skills-link:hover{
  color: indigo;
  font-weight: bold;
}
.award-icon{
  padding-top: 20px;
  height:4vmin;
}


.education{
	display: flex;
	justify-content: space-between;
	font-size: 4vmin;
	color: gray;
	padding-right: 5vmin;
	padding-top: 3vmin;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 17vmin;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 3vmin;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 0;
  left: -50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.spacer{
  margin-top: 5em;
}

/*move menu to top*/
@media screen and (max-width: 1000px){
  #navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 1;
    overflow-y: hidden;
    transition: 0.3s;
   }
  .link{
    padding: 20px 20px 20px 20px;
    font-size: 4em;
  }
  .navimg{
    display: none;
  }
  #nav_side_fixed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4em;
    background-color: indigo;
    z-index: 2;
  }
  .menuname{
    margin-top: 0.15em;
    margin-left: 20px;
    color: 	#c5b1e7;
    font-size: 2em;
    font-weight: bold;
  }
  .menucontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menubars{
    width: 4em;
    height: 0.25em;
    background-color: #c5b1e7;
    margin: 0.3em 0;
    margin-right: 40px;
  }

  #main{
    margin-top: 50px;
    margin-left: 0;
    z-index: 0;
  }
  .about{
    font-size: 4vmin;
  }
  .contact{
    font-size: 4vmin;
  }
  .circle{
    width: 10vmin;
    height: 10vmin;
    line-height: 10vmin;
    font-size: 5vmin;
  }
  .circle-svg{
    height: 7.5vmin;
  }
  .social-icons{
    width: 75vmin;
  }
  .skill-set{
    flex-direction: row;
  }
  .skills-workflow{
    margin-top: 4vmin;
    font-size: 4vmin;
  }
}

/* this defines a max height in font-size  multiply vmin by 7 */
@media screen and (min-height: 700px) and (min-width: 1000px){
  h1{
    font-size: 70px;
  }
  .contact{
    font-size: 21px;
  }
  .contact-title{
    font-size: 35px;
  }
  .about{
    font-size: 21px;
  }
  .circle{
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 35px;
  }
  .circle-svg{
    height: 52px;
  }
  .social-icons{
    margin-top: 105px;
    width: 350px;
  }
  .projects-title{
    font-size: 49px;
  }
  .project-tile{
    margin-top: 84px;
  }
  .project-title{
    font-size: 38.5px;
  }
  .project-skills{
    font-size: 35px;
    padding-right: 35px;
  }
  .description{
    margin-top: 35px;
    font-size: 28px;
  }
  .quote{
    font-size: 19.6px;
  }
  .sub-title{
    font-size: 38.5px;
    margin-top: 50px;
  }
  .skills-list{
    font-size: 56px;
    padding-top: 35px;
    padding-right: 35px;
  }
  .skills-workflow{
    margin-top: 35px;
    font-size: 35px;
  }
 /* .awards-skills{
    font-size: 35px;
    padding-right: 35px;
  }*/
  .education{
  	font-size: 28px;
  	padding-right: 35px;
  	padding-top: 18px;
  }
}

@media screen and (max-width: 1200px){
  .awards-skills{
    font-size: 3vmin;
    padding-left: 0;
    padding-right: 2vmin;
  }
  .awards-list{
    padding-left: 5px;
  }
  .award-icon{
    padding-top: 10px;
    height:3vmin;
  }
}
/*
@media screen and (max-width: 1200px) and (min-height: 700px){
  .awards-skills{
    font-size: 28px;
    padding-left: 0;
    padding-right: 14px;
  }
  .awards-list{
    padding-left: 5px;
  }
}
/*
@media screen and (max-width: 1000px) and (max-height: 1000px){
  .awards-skills{
    font-size: 4vmin;
    padding-left: 0;
    padding-right: 2vmin;
  }
  .awards-list{
    padding-left: 5px;
  }
}*/
@media screen and (max-width: 1000px) and (min-height: 1000px){
  .awards-skills{
    font-size: 1.8vmin;
    padding-left: 0;
    padding-right: 3vmin;
  }
  .awards-list{
    padding-left: 5px;
  }
}
